@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')
	;

:root { 
	--strong-gray-blue: #2F5182;
	--gray-blue: #4476bd; 
	--salmon : #f47169;
	--gray: #dcdcdc;
	--salmon: #f47169;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100vw;
	height: 100vh;
	background: var(--gray);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	background: #fff;
	padding: 3rem;
	border-radius: 20px;
	box-shadow: 3px 3px 5px #808080;
}

.box figure {
	width: 60%;
}

.box figure img {
	max-width: 100%;
}

.big-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	min-height: 80vh;
	background: #fff;
	padding: 3rem;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #808080;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem;
	color: var(--gray-blue);
}

.menu{
	display: flex;
	width: 20%;
	justify-content: space-between;
}

.botaoA {
	margin-top: 1rem;
	font-size: 1.5rem;
	text-decoration: none;
	background-color: var(--gray-blue);
	padding: 1rem;
	color: #fff;
	border-radius: 10px;
	font-weight: bold;
}

.botaoA:hover {
	background-color: var(--salmon);
	transition: 0.5s;
}

.botaoB {
	margin-top: 1rem;
	font-size: 1rem;
	text-decoration: none;
	background-color: var(--gray-blue);
	padding: 1rem;
	color: #fff;
	border-radius: 10px;
	font-weight: bold;
}

.botaoB:hover {
	background-color: var(--strong-gray-blue);
	transition: 0.5s;
}